
// Sonasons theme
// $primaryBorderColor: #e1e1e1;
// $primaryBorderColor2: #42424233;
// $bgColor: black; // Light gray background
// $textColor: #1b1212; // Dark gray text color
// $menuColor: #7d7f85;
// $navbarbg: black;
// $navbarcolor: white;
// $badgecolor: white;
// $badgetxtcolor: black;
// $footerbg: black;
// $footertextcolor: white;
// $sliderbar: #7d7f85;
// $btnBg: black;
// $btncolor: white;
// $authbtnbg: black;
// $authbtncolor: white;
// $authbg: white;
// $footertextcolor: white;
// $menutitle: black;
// $defaultbtncolor: black;

// sonasons themes ends

// omjiyas theme
// #08054C

$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #42424233;
$bgColor: #08054c; // Light gray background
$textColor: #1b1212; // Dark gray text color
$menuColor: #1b1212;
$navbarbg: white;
$navbarcolor: black;
$badgecolor: #114D6E;
$badgetxtcolor: black;
$footerbg: black;
$footertextcolor: black;
$sliderbar: #08054c;
$btnBg: #114D6E;
$btncolor: white;
$authbtnbg: #114D6E  ;
$authbtncolor: white;
$authbg: white;
$footertextcolor: white;
$menutitle: black;
$defaultbtncolor: black;
$topbar: #114D6E;
