@use "../../../theme/fgstore.web/style/variable.scss" as *;

.smr_newsletter-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 1.5rem 10px;
  box-sizing: border-box;
  overflow: hidden; // Prevent accidental overflow

  * {
    box-sizing: border-box;
  }

  .icon {
    margin-bottom: 4px;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-inline: 10px;
  }

  p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-inline: 10px;
    max-width: 100%;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .email-input {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
    gap: 10px;

    .email-input-with-error {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 350px;

      input {
        padding: 8.2px 12px;
        font-size: $fontSize2;
        border: 1px solid #ccc;
        outline: none;
        color: $primaryfontcolor;
        width: 100%;

        &:focus {
          border-color: #000;
        }
      }

      .for-error-message-news {
        display: flex;
        font-size: 0.8rem;
        text-align: left;
        margin-top: 4px;
      }
    }

    button {
      padding: 8px 20px;
      font-size: $fontSize2;
      height: 2.45rem;
      white-space: nowrap;
    }

    .btn_for_new {
      background: $btnBg;
      color: $btncolor;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .disclaimer {
    font-size: $fontSize1;
    color: $primaryfontcolor2;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    padding-inline: 10px;
    text-wrap: pretty;
  }

  .newslatterEmail {
    a {
      text-decoration: none;
      color: $primaryfontcolor2;
      font-size: $fontSize1;
    }
  }

  @media (max-width: 768px) {
    .email-input {
      flex-direction: column;
      align-items: center;
      
      .email-input-with-error {
        width: 100%;
        max-width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    .sub-text {
      font-size: 13px;
      padding-inline: 15px;
      text-align: center;
    }

    h2 {
      font-size: 1.3rem;
    }

    .email-input {
      width: 100%;
      padding-inline: 10px;

      .email-input-with-error {
        input {
          border-radius: 2px;
          margin-bottom: 10px;
        }
      }

      button {
        border-radius: 2px;
      }
    }

    .disclaimer {
      font-size: 0.75rem;
      text-align: center;
    }
  }
}
