.hoq_ourStory {
  .back-to-home {
    width: 100%;
    margin-top: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 8px 12px;
      text-decoration: none;
      background-color: #c20000;
      color: white;
      outline: none;
      border: none;
      border-radius: 3px;
    }
  }
}